@import "utils";

$element-primary: #eb5440;
$element-secondary: #4a4b4c;
$element-tertiary-1: #e8e8e8;
$element-tertiary-2: #c3c3c3;
$element-background-1: #f6f6f6;
$element-background-2: #ffffff;

$text-primary: #000000;
$text-secondary: #4a4b4c;
$text-tertiary: #c3c3c3;
$text-hyperlink: #4a4b4c;
$text-white: #ffffff;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 400;

html,
body,
h1,
h2 {
  margin: 0;
}

.element-color-primary {
  background-color: $element-primary;
}

.element-color-secondary {
  background-color: $element-secondary;
}

.element-color-tertiary-1 {
  background-color: $element-tertiary-1;
}

.element-color-tertiary-2 {
  background-color: $element-tertiary-2;
}

.bg-1 {
  background-color: $element-background-1;
}

.bg-2 {
  background-color: $element-background-2;
}

.text-color-primary {
  color: $text-primary;
}

.text-color-secondary {
  color: $text-secondary;
}

.text-color-tertiary {
  color: $text-tertiary;
}

.text-color-hyperlink {
  color: $text-hyperlink;
}

.text-color-white {
  color: $text-white;
}

// Montserrat bold
h1 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: 32px;
}

h2 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: 22px;
}

.router-link-active.header-menu,
.router-link-exact-active.header-menu,
button,
.tabs {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: 18px;
}

// Montserrat semi-bold
.back-button-label {
  font-family: $font-primary;
  font-weight: $font-weight-semi-bold;
  font-size: 16px;
}

.input-field-title {
  font-family: $font-primary;
  font-weight: $font-weight-semi-bold;
  font-size: 14px;
}

// Montserrat medium
.header-menu {
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  font-size: 18px;
  text-decoration: none;
}

.empty-state-message {
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  font-size: 18px;
}

.error-message {
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  font-style: italic;
  font-size: 14px;
}

// Open Sans semi-bold
.listing-info {
  font-family: $font-secondary;
  font-weight: $font-weight-semi-bold;
  font-size: 16px;
}

// Open Sans regular
html {
  font-family: $font-secondary;
  font-weight: $font-weight-medium;
  font-size: 18px;
  background-color: $element-background-1;
}

.input-field {
  font-family: $font-secondary;
  font-weight: $font-weight-medium;
  font-size: 14px;
}

.button-behavior {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.button-padding {
  padding: 10px 1rem;
}
.button-icon {
  gap: 1rem;
  align-items: center;
}

.button-behavior:hover {
  opacity: 0.5;
}

.button-behavior:active {
  opacity: 0.8;
}

.input-field-container {
  padding: 0 1rem;
  width: 20rem;
}
.input-field-container:focus-within {
  border: 1px solid;
}

.input-field {
  padding: 10px;
}
.input-field:focus {
  outline: none;
}

.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-shadow {
  filter: drop-shadow(0px 10px 15px -3px rgba(0, 0, 0, 0.1));
}

.image-container {
  height: 100%;
  overflow: hidden;
}

.contained-image {
  height: 100%;
  width: auto;
}

@media (max-width: 768px) {
  // Montserrat bold
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }

  .button,
  .tabs {
    font-size: 12px;
  }

  // Montserrat semi-bold
  .input-field-title {
    font-size: 12px;
  }

  // Montserrat medium
  .empty-state-message {
    font-size: 14px;
  }

  .error-message {
    font-size: 12px;
  }

  // Open Sans semi-bold
  .listing-info {
    font-size: 12px;
  }

  // Open Sans regular
  html {
    font-size: 12px;
  }

  .input-field {
    font-size: 12px;
  }

  .input-field-container {
    width: 100%;
  }
}
